.bg-custom-css {
    background-image: url('../../assets/bg-shadow.png');
    background-size: cover;
    background-position: center;
}

.btn-grad {
    background-image: linear-gradient(to right, #C02425 0%, #F0CB35 51%, #C02425 100%)
}

.btn-grad {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    cursor: pointer;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}